.mainDiscos {
  width: 100%;
  background-color: $background-principal;
}
.mainDiscos section {
  display: flex;
  justify-content: center;
}
.mainDiscos section h1 {
  @include titulo;
}
.container-discos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container-discos section {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: "Roboto", sans-serif;
}
