@media (max-width: 1150px) {
  .videosIndex {
    width: 100%;
  }
  .video-responsive1 {
    width: auto;
  }
  .video-responsive1 iframe {
    width: auto;
  }
  .video-responsive2 iframe {
    width: auto;
  }
}
