@media (max-width: 320px) {
  footer ul li a img {
    width: 15px;
    height: 15px;
  }
  .videosIndex {
    width: 100%;
  }
  .video-responsive1 {
    width: auto;
  }
  .video-responsive1 iframe {
    width: auto;
  }
  .video-responsive2 iframe {
    width: auto;
  }
}
